.trade_main_wrapper{
    display: flex;
    padding: 80px 10px 20px 10px;
    text-align: left;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 228, 212);
}

.trade_main_wrapper > div{
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    align-items: flex-start;
    justify-content: center;
    overflow:hidden;
    overflow-y:hidden;
}

.trade_left_wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    min-width: 600px;
    max-width: 900px;
    margin: 0px;
}

.trade_coin_overview{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0px 10px 20px 10px;
}

.trade_coin_overview_header{
    display: flex;
    min-height: 50px;
    border-bottom: 2px solid rgb(214, 228, 212);
    align-items: center;
    justify-content: space-between;
}

.trade_coin_overview_header_title > span{
    margin-left: 15px;
    font-size: small;
}

.trade_coin_overview_header_title > span:first-child{
    font-weight: bold;
    font-size: large;
}

.trade_coin_overview_header_tab{
    margin-right: 15px;
}

.trade_coin_overview_content{
    margin: 20px 20px 30px 20px;

}

.trade_coin_overview_content > div:first-child{
    font-size:  32px;
    font-weight: bold;
    margin-bottom: 10px;

}

.trade_coin_overview_content > div:last-child{
    font-size:  16px;

}

.trade_coin_information{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    background-color: white;
    margin: 0px 10px 20px 10px;
}

.trade_coin_information_header{
    display: flex;
    min-height: 50px;
    border-bottom: 2px solid rgb(214, 228, 212);
    align-items: center;
    justify-content: space-between;
}

.trade_coin_information_header_title > span{
    margin-left: 15px;
    font-size: small;
}

.trade_coin_information_header_title > span:first-child{
    font-weight: bold;
    font-size: large;
}

.trade_coin_information_header_tab{
    margin-right: 15px;
}

.trade_coin_information_content{
    margin: 20px;

}

.trade_coin_chart{
    background-color: white;
    margin: 0px 10px 20px 10px;
}

.trade_coin_chart_content{
    margin: 30px 30px 30px 10px;
}

.trade_left_bottom_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

.trade_transaction_detail{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 300px;
    min-width: 300px;
    margin: 0px 10px 20px 10px;
    background-color: white;
}

.trade_transaction_detail_header{
    display: flex;
    height: 50px;
    border-bottom: 2px solid rgb(214, 228, 212);
    align-items: center;
    justify-content: flex-start;
}

.trade_transaction_detail_header > span{
    margin-left: 15px;
    font-size: small;
}

.trade_transaction_detail_header > span:first-child{
    font-weight: bold;
    font-size: large;
}

.trade_transaction_detail_content{

}

.trade_buy_sell_view{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 300px;
    min-width: 300px;
    margin: 0px 10px 0px 10px;
    background-color: white;  
}

.trade_buy_sell_view_header{
    display: flex;
    min-height: 50px;
    border-bottom: 2px solid rgb(214, 228, 212);
    align-items: center;
    justify-content: space-between;
}

.trade_buy_sell_view_header_title > span{
    margin-left: 15px;
    font-size: small;
}

.trade_buy_sell_view_header_title > span:first-child{
    font-weight: bold;
    font-size: large;
}

.trade_buy_sell_view_header_tab{
    margin-right: 15px;
}

.trade_right_wrapper{
    flex-grow: 1;
    min-width: 300px;
    height: 1000px;
    margin: 0px 10px 0px 10px;
    background-color: white;
    
}

.trade_buy_sell_view{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 300px;
    min-width: 300px;
    margin: 0px 10px 0px 10px;
    background-color: white;  
}

.trade_sidebar_header{
    display: flex;
    min-height: 50px;
    border-bottom: 2px solid rgb(214, 228, 212);
    align-items: center;
    justify-content: space-between;
}

.trade_sidebar_header_tab {
    width: 100%;
}

.trade_sidebar_header_tab .nav{
    display: flex;
    width: 100%;
}

.trade_sidebar_header_tab .nav-item{
    text-align: center;
    width: 100px;
}